@model RoomModel
@{
    ViewData["Title"] = "UpdateRoom";
}
@section Scripts{
    <script src="~/modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}

<h1>Add Room</h1>

<form asp-controller="Admin" asp-action="UpdateRoom" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row">
        <div class="col-md-8">

            <input type="hidden" name="Id" value="@Model.Id" />
            <div class="form-group row">
                <label asp-for="roomName" class="col-md-2 col-form-label"></label>
                <div class="col-md-10">
                    <input asp-for="roomName" value="@Model.roomName" class="form-control" />
                    <span asp-validation-for="roomName" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-2 col-form-label">BuildingName</label>
                <div class="col-md-10">
                    @Html.DropDownList("BuildingId", new SelectList(ViewBag.Buildings, "Id", "buildingName"))

                </div>
            </div>


            <div class="form-group row">
                <div class="col-md-10 offset-md-2">
                    <button type="submit" class="btn btn-primary">Odayı Kaydet</button>
                </div>
            </div>
        </div>
    </div>
</form>
